body{
 
  margin: 0px;
  padding: 0px;
  background-color: white;
  text-align: center;
    
}
.first-page{
  margin: 0px;
  padding: 100px;
  background-color: #F6DFEB;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  padding-bottom: 200px;
}
/*
h1{

  margin-top: 50px;
    color: black;
    animation-duration: 8s;
    animation-name: slidein ;
    animation-iteration-count: infinite;
  }
*/

@keyframes example {
  
  0%   {background-color: #FFE1E1;}
  25%  {background-color: #FFDDD2;}
  50%  {background-color: #ffe7e1;}
  100% {background-color: #F2D7D9;}
}
h2{
  margin-left: 30%;
  font-size: 1.989rem;
  margin-right: 30%;
  width: 50%;
  text-align: center;
  line-height: 1;
  margin-bottom: 50px;
}
.typewriter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.waviy {
  
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


Resources
h2{
  color: black;
}

p{
  text-align-last: center;
}
.bold{
  font-weight: bold;
}
.second-page{

  margin-top: 100px;
 
  
}
h3{
  color: black;
  text-align: center;
}
a{
  color: black;
}
.workout-class{
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
    margin: 100px  auto 100px auto;
    text-align: left;
    line-height: 2;
    margin-bottom: 50px;
  
  
}

.workout-class:hover{
  background-color: #F6DFEB;
}
.workout{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  width: 25%;
  float: right;
  margin-right: 10px;
 
}
.table-class{
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:  right;
  line-height: 2;
  margin-bottom: 40px;
}
.table-class:hover{
  background-color: #F6DFEB;
}
.table{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 25%;
  float: left;
  padding-right: 0px;
  margin-right: 10px;
}
.food-class{
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
    margin: 100px  auto 100px auto;
    text-align: right;
    line-height: 2;
    margin-bottom: 50px;
 
}
.food-class:hover{
  background-color: #F6DFEB;
}
.food{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 25%;
  float: left;
  padding-right: 0px;
  margin-right: 10px;
 
}

.Pokemon-class{
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:  left;
  line-height: 2;
  margin-bottom: 40px;
}
.Pokemon-class:hover{
  background-color: #F6DFEB;
}
.Pokemon{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  width: 25%;
  float: right;
  margin-right: 10px;
}

.playlist-class{
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
    margin: 100px  auto 100px auto;
    text-align: right;
    line-height: 2;
    margin-bottom: 50px;
 
}
.playlist-class:hover{
  background-color: #F6DFEB;
}
.playlist{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  width: 25%;
  float: left;
  margin-right: 10px;
 
}

.music-class{
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:  left;
  line-height: 2;
  margin-bottom: 40px;
}
.music-class:hover{
  background-color: #F6DFEB;
}
.music{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  width: 25%;
  float: right;
  margin-right: 10px;
}
.third-page{
  padding-left: 23%;
  padding-right: 0%;

}
.skills{
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   width:52%
  
}

.skill:hover{
  color: #F6DFEB;
}
.last-page{
  
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;

  background-color:#ffe7e1 ;
}

.email{
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}
.likdin{
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}
.github{
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}
.insta{
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}
.email:hover{
  color: white;
}
.likdin:hover{
  color: ivory;
}
.github:hover{
  color: ivory;
}
.insta:hover{
  color: ivory;
}
/*
1.cart
 */